<div class="w-full h-16 bg-[#19212d] border border-black flex">
    <!-- REPOSITORY SELECTOR -->
    <div class="w-[20vw]">
        <repository-selection></repository-selection>
    </div>

    <div class="w-[20vw]">
        <branch-selection></branch-selection>
    </div>


    <div class="w-[20vw] flex justify-between items-center border-r border-r-black h-full px-2 text-white">
        <div class="flex items-center space-x-2 h-full">
            <div class=" text-xl"><i class="fa-solid fa-arrow-down"></i></div>
            <div class="flex flex-col justify-center leading-6">
                <span class="text-md font-medium">Pull origin</span>
                <span class="text-neutral-400">Last fetched 21 min...</span>
            </div>
        </div>
        <div><i class="fa-solid fa-caret-down"></i></div>
    </div>
</div>