<div class="w-full h-full">
    <!-- SEARCH BAR -->
    <div class="w-full h-14 p-2 bg-[#303845] border-b border-black space-y-1">
        <input type="text" placeholder="Search branch to comapire" class="w-full bg-[#303845]" pInputText />
    </div>
    <div class="w-full h-[calc(100%-3.5rem)] overflow-y-auto 
    [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:bg-transparent
  [&::-webkit-scrollbar-thumb]:bg-slate-700
  [&::-webkit-scrollbar-thumb]:rounded-full
    ">
        <commit-card></commit-card>
        <commit-card></commit-card>
        <commit-card></commit-card>
        <commit-card></commit-card>
        <commit-card></commit-card>
        <commit-card></commit-card>
        <commit-card></commit-card>
        <commit-card></commit-card>
        <commit-card></commit-card>
        <commit-card></commit-card>
        <commit-card></commit-card>
    </div>

</div>