<div class="w-full h-full relative">
    <div role="button" (click)="toggleDropdown()"
        class="w-full flex justify-between items-center border-r border-r-black h-full px-2 text-white">
        <div class="flex items-center space-x-2 h-full">
            <div class=" text-xl"><i class="fa-solid fa-code-branch"></i></div>
            <div class="flex flex-col justify-center leading-6">
                <span class="text-neutral-400">Current branch</span>
                <span class="text-md font-medium">feature/dashbaord-api</span>
            </div>
        </div>
        <div><i class="fa-solid fa-caret-down"></i></div>
    </div>

    @if (isOpen) {
    <dropdown-layout [minWidth]="'min-w-[28vw]'" (closeDropDownEvent)="handleCloseDropDownEvent($event)">
        <div dropdwon-body class="h-full">
            <!-- TABS -->
            <div class="w-full">
                <tabs [tabs]="tabs" [activeTab]="activeTab" (tabChangeEvent)="activeTab=$event"></tabs>
            </div>

            <!-- NEW BRANCH -->
            <div class="w-full flex p-2 justify-between space-x-2">
                <input type="text" placeholder="Filter" class="w-full h-7 bg-[#303845]" pInputText />
                <button class="
                w-35 rounded-md border border-neutral-400 text-xs cursor-pointer
                hover:border-neutral-300
                ">New Branch</button>
            </div>

            <!-- BRANCH LIST -->
            <div class="w-full py-2 h-[80%] overflow-auto custom-scrollbar">
                <branch-group [groups]="branchGroups"></branch-group>
            </div>

            <!--  -->
            <div class="w-full p-2">
                <button class="
                w-full h-8 rounded-md border border-neutral-400 text-xs cursor-pointer
                block overflow-hidden whitespace-nowrap text-ellipsis px-2
                hover:border-neutral-300
                "><i class="fa-solid fa-code-merge text-sm"></i> Choose a branch to merge into feature/additional-details</button>
            </div>
        </div>
    </dropdown-layout>
    }
</div>