<div class="w-full">
    @for (group of groups; track $index) {
    <div class="w-full">
        <div class=" p-2">
            <span class="text-sm font-bold">{{group.group}}</span>
        </div>
        @for (branch of group.branch; track $index) {
        <div 
        class="flex justify-between items-center px-2 py-1.5 hover:bg-neutral-500 cursor-pointer" (click)="changeBranch(branch)"
        
        >
            <div class="space-x-1">
                <i class="fa-solid fa-code-branch"></i>
                <span class="">{{branch.name}}</span>
            </div>
            <div>
                <span class="text-xs text-slate-300">{{branch.displayTime}}</span>
            </div>
        </div>
        }
    </div>
    }

</div>