<div class="w-full h-full relative">
    <div role="button" (click)="toggleDropdown()"
        class="w-full flex justify-between items-center border-r border-r-black h-full px-2 text-white">
        <div class="flex items-center space-x-2 h-full">
            <div class=" text-xl"><i class="fa-solid fa-code-branch"></i></div>
            <div class="flex flex-col justify-center leading-6">
                <span class="text-neutral-400">Current branch</span>
                <span class="text-md font-medium">feature/dashbaord-api</span>
            </div>
        </div>
        <div><i class="fa-solid fa-caret-down"></i></div>
    </div>

    @if (isOpen) {
        <dropdown-layout (closeDropDownEvent)="handleCloseDropDownEvent($event)">
            <div dropdwon-body>hhh</div>
        </dropdown-layout>
    }
</div>