<div class="h-full w-[20vw] border-r border-black">
    <!-- SIDE BAR TABS -->

    <!-- TABS -->
    <tabs [activeTab]="activeTab" [tabs]="tabs" (tabChangeEvent)="setTab($event)"></tabs>

    <!-- CONTENTS -->
    <div class="w-full h-[calc(100%-2.5rem)]">
        @if (activeTab=='CHANGES') {<changes-pannel [currentRepository]="currentReposotory()"></changes-pannel>}
        @if (activeTab=='HISTORY') {<history-pannel [currentRepository]="currentReposotory()"
            [currentBranch]="currentBranch()"></history-pannel>}
    </div>
</div>